<%- include("header") -%> 
<%- include("navbar2") -%> 
    <section>
        <div class="flex justify-end" style="background-color: #fd6d41 ;">
            <div class="text-6xl font-bold" style="padding-right: 2rem; color:white">YAMMiTO</div>
        </div>
        <!-- <h1 class="text-6xl font-bold inset-y-0">YAMMiTO</h1> -->
    </section>
    <section class="hero" style="padding-top: 10rem; margin-top: 3.78rem;" href="HOME" >
        <div class="flex justify-center ..." style="margin: auto;">
            <div style="margin: auto;">
                <h6>Are you Hungry?</h6>
                <h1 class="text-5xl font-bold">ORDER NOW!</h1>
                <form action="/signIn">
                    <button class="btn btn-xl">ORDER</button>
                </form>
            </div>
            <div>
                <img class="homeImg" style="width: 50rem;" src="https://img.freepik.com/premium-photo/paneer-curry_57665-13664.jpg?w=1060" alt="IMG" >
            </div>
        </div>
    </section>
    
<%- include("footer") -%> 