<div class="html-container">
    <div class="html-section">
      <div class="html-project">
        <div class="navigation">
          <nav>
            <ul class="nav-type">
              <li><a href="/menu" class="active">Home</a></li>
              <li><a href="" target="_blank" class="active1">About</a></li>
              <li><a href="" target="_blank" class="active2">Contact</a></li>
              <li><a href="" target="_blank" class="active3">Support</a></li>
              <div class="line"></div>
              <form action="/search">
                  <!-- <input type="text" name="search" placeholder="Search Here">     -->
                <input type="text" name="search" placeholder="Search Here" style="margin-bottom: 5px; font-size: large; color: white; background: #d1387d; border: white;">
                <button><i class="fa fa-search fa-2x" style="color: white; margin: auto; padding-left: 2rem; padding-top: 5px;"></i></button>
              </form>
              <!-- <li><a><i class="fa fa-search" onclick="show()"> -->
                <!-- </i></a></li> -->
              
              <li>
                <li id="noOfItems" style="padding-left: 8rem; padding-right: 1rem;font-size: x-large; color: white;"><%= session.cart ? session.cart.totalQty : '' %></li>
                <a href="/cart" style="color: white;"><i class="fa-solid fa-cart-shopping fa-2x"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <noscript>
    <div class="first-line">
      <div class="linear">
        <div class="line-w5">
          
        </div>
      </div>
    </div>
    </noscript>
<template>
    <div class="flash-fluid">
      <div class="flash-time">
        <div class="flash-GIF">
          
        </div>
      </div>
     </div>
</template>
<noscript>     
    <div class="cyrcle-center">
      <div class="radial-cyrcle">
        
      </div>
    </div>
</noscript>
  </div>
<template>   
  <div class="text-class">
    <div class="text-container">
      <div class="text-content-fluid" id="chinese-text" data-text-type="chinese">
        <div class="chinese-text">設</div>
        <div class="chinese-text2">計</div>
        <div class="chinese-text3">和</div>
        <div class="chinese-text4">開</div>
        <div class="chinese-text5">發</div>
      </div>
    </div>
  </div>
</template> 